<li>
  <div class="review-header">
    <p>
      By <%= review.escape('fname') %> <%= review.escape('lname') %> on <%= review.escape('created_at') %>
    </p>
    <p class='title'>
      <%= review.escape('star_rating') %> stars. <p class='bold-title'><%= review.escape('title') %></p>
    </p>
  </div>
  <div class="review-body">
    <p>
      <%= review.escape('body') %>
    </p>
  </div>
</li>
