<div class="advertisement5">
  <h4>Expand your horizons</h4>
  <form class="filter-list-categories">
    <span class="form-header">Categories</span>
    <% Celadon.types.each(function(type){ %>
      <input class="checkbox-input"
             type="checkbox"
             name="category"
             value="<%= type.escape('name') %>"
             <% if (categories) { %>
               <% categories.forEach(function(category) { %>
                 <% if (category === type.escape('name') ) { %>
                   <%= "checked" %>
                 <% } %>
               <% }) %>
             <% } %>
             >  <%= type.escape('name') %><br>
     <% }) %>
  </form>
  <form class="filter-list-price">
    <span class="form-header">Price</span>
    <input class="checkbox-price" type="radio" name="price" value="0"
      <% if (price[0] === "0") { %>
        <%= "checked" %>
      <% } %>
      > < $0.00<br>
    <input class="checkbox-price" type="radio" name="price" value="10"
      <% if (price[0] === "10") { %>
        <%= "checked" %>
      <% } %>
      > < $10.00<br>
    <input class="checkbox-price" type="radio" name="price" value="100"
      <% if (price[0] === "100") { %>
        <%= "checked" %>
      <% } %>
      > < $100.00<br>
    <input class="checkbox-price" type="radio" name="price" value="200"
      <% if (price[0] === "200") { %>
        <%= "checked" %>
      <% } %>
      > < $200.00<br>
    <input class="checkbox-price" type="radio" name="price"
      <% if (price[0] === "on") { %>
        <%= "checked" %>
      <% } %>
      > All prices<br>
  </form>
</div>
<div class="results-page">
  <section class="results">
    <ul class="search-results-full all-poke-list"></ul>
    <span>
      <nav class="group">
				<% if (pageNum > 1) { %>
					<a class="prev-page" href="javascript:void(0)">
						<span class="prev-arrow"></span>
						Previous Page
					</a>
				<% } %>
				<% if (pageNum < (results.total_count / 15)) { %>
					<a class="next-page" href="javascript:void(0)">
						<span class="next-arrow"></span>
						Next Page
					</a>
				<% } %>
			</nav>
    </span>
  </section>
</div>
