<div class='poke-image'>
  <img src="<%= product.escape('image_url') %>">
  </div>
  <div class='poke-content'>
  <div class='poke-content-header'>
    <h3><%= product.escape('name') %></h3>
    <p>
      Date found: <%= product.escape('created_at') %><br>
      Price: $<%= product.escape('price') %>
    </p>
  </div>
  <div class='poke-content-content'>
    Level: <%= product.escape('level') %><br>
    Attack: <%= product.escape('attack') %><br>
    Defense: <%= product.escape('defense') %>
  </div>
  <div id="reviews">
    <h3>Customer Reviews</h3>
    <div class="review-summary">
      Number of reviews: <%= product.escape('number_of_reviews') %><br>
      <%= product.escape('average_star_rating') %> out of 5 stars
    </div>
    <div id="review-create">
      Share your thoughts with other customers
      <button class='review-create-btn'>Write a customer review</button>
    </div>
  </div>
</div>
