<div class='add-cart-message hidden group' id='add-cart-message'>
  <span class='checkmark'>
    <img class="checkmark-img" src="<%= Celadon.checkmarkLogo %>">Added to Cart
  </span>
  <span class='quick-details'>
    Cart subtotal: <p class="price-tag">$<%= Celadon.currentUser.escape('current_subtotal') %></p>
  </span>
  <span class='add-cart-message-btn'>
    <a href="#">Continue Shopping</a>
    <a href="#/user/<%= Celadon.currentUser.id %>/cart_items">View your Cart</a>
  </span>
</div>

<div class='content-right'>
  <div class='purchase-tab'>
    <span class='purchase-tab-qty'>Qty:
      <select id='purchase-qty-selection'>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
      </select>
    </span><br>
    <span class="purchase-tab-details">
      <p>$<%= product.escape('price') %></p> + Free Shipping + Free Pokéball
    </span><br>
    <button class="sign-in-btn" id='add-cart-button'>Add to Cart</button>
  </div>
</div>

<div class='main-content group'>
  <div class='poke-image'>
    <img src="<%= product.escape('image_url') %>">
  </div>
  <div class='poke-content'>
    <div class='poke-content-header'>
      <h3><%= product.escape('name') %></h3>
    </div>
    <div class='poke-subheader'>
      <p class='price-name'>Price: </p>
      <p class='price'>$<%= product.escape('price') %></p><br>
      <p class='price-name'>Date found: </p>
      <p class='date-found'><%= product.escape('created_at') %></p>
    </div>
    <div class='poke-content-content'>
      Attack: <%= product.escape('attack') %><br>
      Defense: <%= product.escape('defense') %><br>
      Moves: <%= product.escape('moves').split(",").join(", ") %><br>
      Type:
      <% product.escape('poke_types').split(",").forEach(function(type) { %>
        <a class="<%= type %> type-indicator" href="#/products/<%= type %>"><%= type %></a>
      <% }) %>

      <br><p class='in-stock'>In Stock.</p>
    </div>

  </div>
  <div class='poke-content-description'>
    <h3 class='description-header'>Product Description</h3>
    <p class='description-body'><%= product.escape('description') %></p>
  </div>
  <div class='poke-content-reviews'>
    <div>
      <h3>Customer Reviews</h3>
      <div class="review-summary">
        <div class="average-star-rating" id="average-star-rating"></div>
        Number of reviews: <%= product.escape('number_of_reviews') %><br>
        <%= product.escape('average_star_rating') %> out of 5 stars
      </div>
      <div class="review-create" id="review-create">
        Share your thoughts with other customers
        <button class='review-create-btn'>Write a customer review</button>
      </div>
    </div>
    <div class='poke-content-review-list' id="reviews">
    </div>
  </div>
</div>
