<div class='add-cart-message hidden' id='add-cart-message'>
  <span class='checkmark'>
    Added to Cart
  </span>
  <span class='quick-details'>
    Cart subtotal ()
  </span>
  <span class='add-cart-message-btn'>
    <button>Continue Shopping</button>
    <button>Proceed to Checkout</button>
  </span>
</div>

<div class='purchase-tab'>
  <span class='purchase-tab-qty'>Qty:
    <select id='purchase-qty-selection'>
      <option>1</option>
      <option>2</option>
    </select>
  </span><br>
  <span class="purchase-tab-details">
    $<%= product.escape('price') %> + Free Shipping + Free Pokeball
  </span><br>
  <button id='add-cart-button'>Add to Cart</button>
</div>

<div class='poke-image'>
  <img src="<%= product.escape('image_url') %>">
  </div>
  <div class='poke-content'>
  <div class='poke-content-header'>
    <h3><%= product.escape('name') %></h3>
    <p>
      Date found: <%= product.escape('created_at') %><br>
      Price: $<%= product.escape('price') %>
    </p>
  </div>
  <div class='poke-content-content'>
    Level: <%= product.escape('level') %><br>
    Attack: <%= product.escape('attack') %><br>
    Defense: <%= product.escape('defense') %>
  </div>
  <div id="reviews">
    <h3>Customer Reviews</h3>
    <div class="review-summary">
      Number of reviews: <%= product.escape('number_of_reviews') %><br>
      <%= product.escape('average_star_rating') %> out of 5 stars
    </div>
    <div id="review-create">
      Share your thoughts with other customers
      <button class='review-create-btn'>Write a customer review</button>
    </div>
  </div>
</div>
