<div class='cart-product-img'>
  <img src="<%= product.escape('image_url') %>">
</div>
<div class='cart-product-content'>
  <div class='poke-content-header'>
    <h3><%= product.escape('name') %></h3>
    <p id='cart-product-delete'>Delete</p>
    <p>
      Price: $<%= product.escape('price') %><br>
      Quantity: <%= cartItem.escape('quantity') %>
    </p>
    Added at: <%= cartItem.escape('updated_at') %>
  </div>
</div>
