<div class='cart-product-img'>
  <img src="<%= product.escape('image_url') %>">
</div>
<div class='cart-product-content'>
  <div class='poke-content-header'>
    <h3>
      <a href='#/product/<%= product.escape('product_id') %>'><%= product.escape('name') %></a>
      <span class="quantity-column">
        <%= product.escape('quantity') %>
      </span>
      <span class="price-column">
        $<%= product.escape('price') %>
      </span>
    </h3>
    <span>Added on: <%= product.escape('updated_at') %></span>
    <p class="in-stock">In Stock.</p>
    <p class="delete-cart-item" id='cart-product-delete'>Delete</p>
  </div>
</div>
