
<div class="navbar-ad">
</div>
<nav class="navbar group" role="navigation">

  <div class="navbar-logo">
    <a class="navbar-logo-img" href="#">
      <img src="<%= Celadon.logo %>">
    </a>
  </div>

  <div class="search-bar">
    <div class="search-bar-input">
      <input
        class="search-bar-input-bar"
        id="search-bar"
        type="text"
        name="user-input">
      <div class="search-bar-button">
        <img
          class="search-bar-img"
          src="<%= Celadon.magnifyingGlass %>">
      </div>
    </div>
  </div>
  <div class="navbar-btn-left">
    <span class="span-button button0 button-able-hover" data="button0">
      <span class="line1">Shop by</span>
      <span class="line2">Category
        <span class="arrow">
          <div class="dropdown hidden">
            <span class="dropdown-arrow type-dropdown"></span>
              <ul>
                <% Celadon.types.each(function(type){ %>
                  <li class="tabs category-drop">
                    <a href="#/products/<%= type.escape('name') %>"><%= type.escape('name') %>
                      <span class="<%= type.escape('name') %> type-indicator navbar-type">
                        <%= type.escape('name') %>
                      </span>
                    </a>
                  </li>
                <% }) %>
              </ul>
          </div>
        </span>
      </span>
    </span>
  </div>
  <span class="under-search-input-links">
    <% if (currentUser.isSignedIn()) { %>
      <a href="#/user/<%= currentUser.id %>"><%= currentUser.escape('fname')%>'s Celadon.com</a>
    <% } %>
    <a href="#/products">Search by filters</a>
  </span>

  <div class="navbar-btn-right">

    <% if (currentUser.isSignedIn()) { %>
      <span class="span-button button1 button-able-hover" data="button1" id='user-page-btn'>
    <% } else { %>
      <span class="span-button button1 button-able-hover" data="button1" id='session-new-btn'>
    <% } %>
      <span class="line1">Hello.
        <% if (currentUser.isSignedIn()) { %>
          <%= currentUser.escape('fname') %>
        <% } else { %>
          Sign in
        <% } %>
      </span>
      <span class="line2">Your Account
        <span class="arrow">

          <div class="dropdown hidden">
            <span class="dropdown-arrow"></span>
              <ul>
                <% if (!currentUser.isSignedIn()) { %>
                  <li class="dropdown-btn">
                    <a class="dropdown-btn-link sign-in-btn" href="#/session/new">Sign in</a>
                  </li>
                  <li>New customer? <a class="start-here" href="#/users/new">Start here.</li>
                <% } %>
                <li><a href="#/user/<%= currentUser.id %>">Your Account</a></li>
                <li><a href="#/user/<%= currentUser.id %>/ordered_items">Your Orders</a></li>
                <li><a href='#'>Your Wish List</a></li>
                <li><a href='#'>Your Recommendations</a></li>
                <% if (currentUser.isSignedIn()) { %>
                  <li><a id="sign-out-link">Not <%= currentUser.escape('fname') %>? Sign out</a>
                  </li>
                <% } %>
              </ul>
          </div>
        </span>
      </span>
    </span>

    <span class="span-button button2 button-able-hover" data="button2">
      <span class="line1">Wish</span>
      <span class="line2">List
        <span class="arrow">
          <div class="dropdown hidden">
            <span class="dropdown-arrow type-dropdown"></span>
              <ul>
                  <li><a href="#">Coming soon...</a></li>
              </ul>
          </div>
        </span>
      </span>
    </span>

    <% if (currentUser.isSignedIn()) { %>
      <span class="span-button cart-button" id='to-cart-btn'>
        <span class="cart-img"><img src="<%= Celadon.pokeball %>"></span>
      <span class="line11 cart-number"><%= Celadon.currentUser.escape('number_of_cart_items') %></span>
    <% } else { %>
      <span class="span-button" id='to-cart-btn'>
        <span class="cart-img"><img src="<%= Celadon.pokeball %>"></span>
      <span class="line11 cart-number">0</span>
    <% } %>
      <span class="line22 cart-cart">Cart</span>
    </span>
  </div>
</nav>
