<div class="navbar-ad">
</div>
<nav class="navbar group" role="navigation">
  <div class="container group">
    <div class="navbar-logo">
      <a class="navbar-logo-img" href="/">Celadon</a>
    </div>

    <div class="search-bar">
      <div class="search-bar-input">
        <input
          class="search-bar-input-bar"
          id="search-bar"
          type="text"
          name="user-input">
        <div class="search-bar-button">
          <img
            class="search-bar-img"
            src="<%= asset_path('assets/css/Magnifying_glass_icon.png') %>">
        </div>
      </div>
    </div>
    <div class="navbar-btn">
      <% if signed_in? %>
        <a href="#/user/<%= current_user.id %>">
      <% else %>
        <a href="/session/new">
      <% end %>
        <span class="line1">Hello.
          <% if signed_in? %>
            <%= current_user.fname %>
          <% else %>
             Sign in
          <% end %>
        </span>
        <span class="line2">Your Account
          <span class="arrow">

            <div class="dropdown" id="dropdown">
              <span class="dropdown-arrow"></span>
              <ul>
                <% if !signed_in? %>
                  <li class="dropdown-btn">
                    <a class="dropdown-btn-link" href="/session/new">Sign in</a>
                  </li>
                  <li>New customer? Start here.</li>
                <% end %>
                <li><a href="#/user/1">Your Account</a></li>
                <li><a href="#">Your Orders</a></li>
                <li><a href='#'>Your Wish List</a></li>
                <li><a href='#'>Your Recommendations</a></li>
                <% if signed_in? %>
                  <li>Not <%= current_user.fname %>?
                    <%= link_to "Sign out", session_url, method: :delete %>
                  </li>
                <% end %>
              </ul>
            </div>

          <span>
        </span>

      </a>
      <a href="#">
        <span class="line1">Wish</span>
        <span class="line2">List
          <span class="arrow"><span>
        </span>
      </a>
      <a href="#">
        <span class="line1"></span>
        <span class="line2">Cart</span>
        <span class="cart-img"></span>
      </a>
      <span>
        <%= button_to "Sign out", session_url, method: :delete %>
      </span>
    </div>
  </div>
</nav>
